<div class="speakers_section">
    <div class="speakersMainDiv">
        <h2 class="speakersHeading">Panel Discussion</h2>
        <div class="speakersDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque magni voluptatem
            velit, culpa reprehenderit perferendis quae aspernatur dolores dolorum, nemo ea minus consequuntur cumque
            amet
            adipisci ipsum aut consequatur voluptatibus!</div>
    </div>
    <div class="speakersDetails">
        <h2 class="speakersHeading">Speakers</h2>
        <div class="speakersIndivisualDetails">
            <img src="../../../assets/logo.png" alt="" class="speakersImg">
            <div class="speakersRightSide">
                <p class="speakersName">Rajkiran Roy G</p>
                <p class="speakersDesignation">MD & CEO</p>
                <p class="speakersOrg">Union Bank of India</p>
            </div>
        </div>
        <div class="speakersIndivisualDetails">
            <img src="../../../assets/logo.png" alt="" class="speakersImg">
            <div class="speakersRightSide">
                <p class="speakersName">Rajkiran Roy G</p>
                <p class="speakersDesignation">MD & CEO</p>
                <p class="speakersOrg">Union Bank of India</p>
            </div>
        </div>
    </div>
</div>