<section class="footer-holder">
    <div class="container">
        <div class="d-md-flex d-block justify-content-md-between">
            <div class="logo-icon">
                <img src="../../assets/images/events-page/logo.svg" alt="">
            </div>
            <div class="powered-by d-flex align-items-center">
                <p class="mb-0 mr-2">Powered by</p>
                <img src="../../assets/images/events-page/footer-logo.svg" alt="">
            </div>
            <div class="contact-details">
                <div class="info d-flex">
                    <img src="../../assets/images/events-page/mail.svg" alt="">
                    <a href="mailto:hello@weevirtuall.com">hello@weevirtuall.com</a>
                </div>
                <div class="info d-flex">
                    <img src="../../assets/images/events-page/phone.svg" alt="">
                    <a href="tel:+91 9769340402">+91 9769340402</a>
                </div>
            </div>
        </div>
    </div>
</section>