.single-video {
  height: 490px;
}
.remote-screenShare {
  width: 100%;
  height: 490px;
}
.remote-calls {
  position: relative;
  height: inherit;
}

.two-video {
  height: 490px;
}

.three-video {
  height: 250px;
}

.four-video {
  height: 250px;
}

.five-video {
  height: 150px;
}
