// Font sizes
// -----------------------------------------------------------------------------

$fontSize-root:                 14px; 
$fontSize-base:                 1rem; 
$fontSize-hero:                 50px;
$fontSize-largest:              28px;
$fontSize-larger:               26px;
$fontSize-large:                24px;
$fontSize-small:                20px;
$fontSize-smaller:              16px;
$fontSize-smallest:             14px;
$fontSize-tiny:                 12px;

// Font weights
// -----------------------------------------------------------------------------

$fontWeight-light:              300;
$fontWeight-regular:            400;
$fontWeight-medium:             500;
$fontWeight-semibold:           600;
$fontWeight-bold:               700;
$fontWeight-extrabold:          800;

// Colors
// -----------------------------------------------------------------------------

$color-black:                       #000;
$color-white:                       #fff;

$color-darkblue:                    #171D63;
$color-blue:                        #2B60C7;
$color-textblue:                    #5B619A;

$color-pink:                        #AF1778;
$color-darkpink:                    #9A266A;

$color-neutral:                     #21283D;



// fonts 
// -----------------------------------------------------------------------------

$font-Manrope:  'Manrope', sans-serif !important;

