<div class="container-fluid px-0">
    <div class="header-holder">
        <nav class="navbar header fixed-top navbar-light d-none d-lg-block">
            <div class="d-flex align-items-center">
                <a class="navbar-brand" href="#"><img src="assets/images/logo.svg" alt=""></a>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Meeting Hall</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
</div>